@import "tailwindcss";

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

/* Tailwind 유틸리티로 등록 */
@utility animate-wiggle {
  animation: wiggle 0.25s ease-in-out infinite;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* min-width: 100vw;
  min-height: 100vh; */
}

.react-grid-item.react-grid-placeholder {
  background: rgba(255, 0, 0, 0.1);
  border: 2px dashed rgba(255, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
/* 기본적으로 스크롤바 숨김 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
